@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color1: #040404;
    --color2: rgb(0, 162, 255);
    --color3: #111111;
    --color4: #fff;
    --color5: #000;
    --color6: #282828;
    --color7: rgb(95, 95, 95);
    --color8: #24303f5e;
    --color9: #525252;
}

body {
    color: var(--color4);
    background-color: var(--color1);
}

body::-webkit-scrollbar {
	width: 9px;
    height: 9px;
    background-color: var(--color1)
}

body::-webkit-scrollbar-thumb {
	background-color: var(--color3);
	border-radius: 8px;
}

a {
    text-decoration: none;
    color: var(--color4);
}

li {
    list-style: none;
}

p {
    line-height: 30px;
}

.section--navigation {
    z-index: 100;
    background-color: var(--color1);
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px #050505;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation img {
    position: relative;
    width: 110px;
    margin-left: 25px;
    user-select: none;
}

.navigation__bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 30px;
    font-size: 23px;
    text-decoration: none;
    transition: .5s;
}

.navigation__bar a {
    margin-right: 40px;
    transition: .5s;
}

.navigation__bar a:hover {
    color: var(--color2);
}

.btn-menu {
    color: var(--color4);
    transition: .5;
}

.btn-menu:hover {
    color: var(--color2);
}

.btn-menu label i {
    cursor: pointer;
}

#btn-menu {
    display: none;
}
.container-menu {
    z-index: 10;
    position: fixed;
    background: rgba(15, 15, 15, 0.356);
    width: 100%;
    height: 1000vh;
    top: 0;
    left: 0;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
.card--menu {
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    background: #060606;
    height: 100vh;
    margin-top: 65px;
    position: relative;
    transition: .5s;
    transform: translateY(-100%);
}
#btn-menu:checked ~ .container-menu .card--menu {
    transform: translateY(0%);
}
.card--menu nav {
    transform: translateY(0%);
}
.card--menu nav a {
    font-size: 25px;
    text-align: center;
    display: block;
    padding: 25px;
    text-decoration: none;
    color: var(--color4);
    border: 5px solid transparent;
    transition: .4s;
}
.card--menu nav a:hover {
    border: 5px solid var(--color6);
    background: var(--color8);
}
.card--menu label i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.content {
    min-height: 100vh;
    min-width: 100vh;
}

.about {
    padding: 160px 0 0 70px;
    width: 690px;
    height: 540px;
}

.about h2 {
    font-weight: bolder;
    font-size: 45px;
}

.about p {
    font-size: 22px;
    padding-left: 5px;
}

.about h2 span {
    color: var(--color2);
}

.guia {
    margin-left: 90px;
    width: 400px;
    height: 40px;
    margin-top: 50px;
}

.guia__content {
    width: 100%;
}

.guia__content ul {
    display: flex;
    flex-wrap: wrap;
}

.guia__content ul li a {
    margin-left: 170px;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    padding: 0 9px;
    background: #3f3f3f49;
    border: solid 3px var(--color6);
    border-radius: 100%;
    transition: .5s;
}

.guia__content ul li a:hover {
    background: #252f3b57;
    color: var(--color2);
    border-radius: 5px;
}

.title__skills {
    margin: 200px 0 0 80px;
    width: 350px;
    height: 70px;
}

.title__skills h2 {
    font-size: 40px;
    color: var(--color4);
    letter-spacing: 1px;
}

.title__skills h2 span {
    color: var(--color2);
}

.conteiner--skills {
    margin: 10px 0 0 50px;
    width: 600px;
    height: 400px;
    background-color: var(--color3);
    border-radius: 5px;
    box-shadow: 16px 16px 0 var(--color5);
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
}

.card__skills-title {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 60px;
    font-size: 30px;
    border: solid 3px var(--color2);
    padding: 10px 10px;
    transition: 1s;
}

.card__skills-title:hover {
    border-radius: 20px;
}

.skills__item {
    align-items: center;
    justify-content: space-between;
}

.skills__tech {
    font-weight: bold;
    font-size: 18px;
}

.skills__bar, .skills__bar::after {
    overflow: hidden;
    position: relative;
    width: 480px;
    height: 10px;
    background-color: var(--color7);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.skills__bar::after {
    content: '';
    position: absolute;
    left: -480px;
    border-radius: 0;
}

.skills__bar--100::after {
    transform: translateX(100%);
    background-color: rgb(240, 136, 38);
}

.skills__bar--90::after {
    transform: translateX(90%);
    background-color:  rgb(26, 127, 185);
}

.skills__bar--20::after {
    transform: translateX(45%);
    background-color: rgb(250, 229, 41);
}

.end__skills {
    margin: 10px 0 0 40px;
    width: 100px;
    height: 70px;
    width: 400px;
    height: 70px;
}

.end__skills h2 {
    font-size: 40px;
    color: var(--color2);
    letter-spacing: 1px;
}

.title__plans {
    margin: 200px 0 20px 80px;
    width: 350px;
    height: 120px;
}

.title__plans h2 {
    font-size: 40px;
    color: var(--color4);
    letter-spacing: 1px;
}

.title__plans h2 span {
    color: var(--color2);
}

.conteiner--plans {
    width: 100vh;
    height: 1500px;
}

.card__plans {
    width: 450px;
    height: 450px;
    background-color: var(--color3);
    margin: 0 0 40px 120px;
    box-shadow: 16px 16px 0 var(--color5);
}

.card__plans h5 {
    padding: 15px;
    font-size: 45px;
}

.card__plans p {
    padding: 15px;
    font-size: 30px;
    line-height: 40px;
}

.title__project {
    margin: 200px 0 0 80px;
    width: 350px;
    height: 70px;
}

.title__project h2 {
    font-size: 40px;
    color: var(--color4);
    letter-spacing: 1px;
}

.title__project h2 span {
    color: var(--color2);
}

.conteiner--project {
    background-color: transparent;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: min-content;
}

.card__project {
    margin: 10px;
    width: 250px;
    height: 250px;
    background-color: var(--color3);
}

.card__project h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
}

#project1 {
    background: url(img/img1.png);
    transition: .5s;
    overflow: hidden;
}

.project__item {
    padding-top: 80px;
    width: 250px;
    height: 250px;
    margin-top: 110%;
    text-align: center;
    transition: 1s;
    background-color: #293b52a1;
}

.project__item h2 {
    margin-bottom: 15px;
    text-shadow: 0 2px 15px var(--color5);
}

.project__item a {
    padding: 0 7px;
    background-color: #3f3f3fc5;
    border: solid 3px var(--color6);
    border-radius: 15px;
    transition: 1s;
}

#project1:hover .project__item {
    margin-top: 0;
}

.project__item a:hover {
    background-color: #2e2e2e;
    color: var(--color2);
    border-radius: 0;
}

.title__contact {
    margin: 200px 0 0 80px;
    width: 350px;
    height: 70px;
}

.title__contact h2 {
    font-size: 40px;
    color: var(--color4);
    letter-spacing: 1px;
}

.title__contact h2 span {
    color: var(--color2);
}

.form {
    border-radius: 5px;
    margin: 10px 0 0 50px;
    width: 600px;
    height: 480px;
    background-color: var(--color3);
    border: 3px solid var(--color6);
}

.email {
    padding-left: 5px;
    margin: 14px 0 0 8px;
    border: 2px solid var(--color9);
    width: 75%;
    height: 40px;
    background-color: var(--color3);
    font-size: 15px;
    color: var(--color4);
}

.subject {
    padding-left: 5px;
    margin: 14px 0 0 8px;
    border: 2px solid var(--color9);
    width: 85%;
    height: 40px;
    background-color: var(--color3);
    font-size: 15px;
    color: var(--color4);
}

textarea {
    padding-left: 5px;
    resize: none;
    margin: 14px 0 0 8px;
    border: 2px solid var(--color9);
    width: 98%;
    height: 250px;
    background-color: var(--color3);
    font-size: 15px;
    color: var(--color4);
}

.send {
    width: min-content;
    height: min-content;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}

.send input {
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    color: var(--color4);
    background-color: var(--color8);
    border: solid 3px var(--color6);
    border-radius: 15px;
    transition: 1s;
}

.send input:hover {
    background-color: #0e0e0e;
    color: var(--color2);
    border-radius: 0;
}

.space {
    width: 100%;
    height: 200px;
}

@media (min-width: 600px) {
    #btn-menu:checked ~ .container-menu .card--menu {
        transform: translateY(0%);
    }
}

@media (min-width: 850px) {
    .about {
        padding: 160px 0 0 90px;
    }

    .guia__content ul li a {
        border: solid 2px #282828;
    }

    .title__skills {
        margin: 220px 0 0 220px;
    }

    .conteiner--skills {
        margin: 10px 0 0 320px;
        border: 2px solid var(--color6);
    }
    
    .skills__tech {
        float: left;
        margin-top: -10px;
        margin-left: 20px;
    }
    
    .skills__bar, .skills__bar::after {
        width: 400px;
        margin-left: 150px;
    }
    
    .skills__bar::after {
        left: -550px;
    }

    .end__skills {
        margin: 10px 0 0 220px;
    }

    .title__plans {
        margin: 200px 0 20px 140px;
    }

    .conteiner--plans {
        width: 100%;
        height: 700px;
    }

    .card__plans {
        margin: 0 0 40px 160px;
        width: 300px;
        height: 300px;
        background-color: var(--color3);
        box-shadow: 16px 16px 0 var(--color5);
    }
    
    .card__plans h5 {
        padding: 15px;
        font-size: 30px;
    }
    
    .card__plans p {
        margin-top: -20px;
        padding: 15px 15px 0 15px;
        font-size: 20px;
        line-height: 30px;
    }

    #plan2 {
        margin: -260px 40px 40px 750px;
    }

    #plan3 {
        margin: -40px 0 40px 340px;
    }

    .conteiner--project {
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        height: min-content;
    }
    
    .title__project {
        margin: 200px 0 0 120px;
        width: 350px;
        height: 70px;
    }

    .title__contact {
        margin: 200px 0 0 120px;
    }

    .form {
        border-radius: 5px;
        margin: 10px 0 0 200px;
        width: 800px;
        background-color: var(--color3);
        border: 3px solid var(--color6);
    }

}